<div class="item">
            <img src="{% static 'main/img/sneakers/0.jpg' %}" class="photo" alt="Sneakers">
            <p>$125</p>
            <p>Описание</p>
            <button class='order-button'>+ Добавить</button>
        </div>
        <div class="item">
            <img src="{% static 'main/img/sneakers/0.jpg' %}" class="photo" alt="Sneakers">
            <p>$125</p>
            <p>Описание</p>
            <button class='order-button'>+ Добавить</button>
        </div>
        <div class="item">
            <img src="{% static 'main/img/sneakers/0.jpg' %}" class="photo" alt="Sneakers">
            <p>$125</p>
            <p>Описание</p>
            <button class='order-button'>+ Добавить</button>
        </div>
        <div class="item">
            <img src="{% static 'main/img/sneakers/0.jpg' %}" class="photo" alt="Sneakers">
            <p>$125</p>
            <p>Описание</p>
            <button class='order-button'>+ Добавить</button>
        </div>
        <div class="item">
            <img src="{% static 'main/img/sneakers/0.jpg' %}" class="photo" alt="Sneakers">
            <p>$125</p>
            <p>Описание</p>
            <button class='order-button'>+ Добавить</button>
        </div>
        <div class="item">
            <img src="{% static 'main/img/sneakers/0.jpg' %}" class="photo" alt="Sneakers">
            <p>$125</p>
            <p>Описание</p>
            <button class='order-button'>+ Добавить</button>
        </div>